[Unit]
Description=Telegram Bot for SPX Tracking
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/spx_tracking
ExecStart=/usr/bin/python3 /home/pi/spx_tracking/main.py
Restart=always

[Install]
WantedBy=multi-user.target